<div class="container">
  <mat-card class="login-card animate-fade-in">
    <mat-card-header>
      <mat-card-title class="text-center">Presupuesto Inteligente</mat-card-title>
      <mat-card-subtitle class="text-center">Inicia sesión para gestionar tu presupuesto</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-fields-container">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Nombre de usuario</mat-label>
            <input matInput formControlName="username" placeholder="Nombre de usuario" required>
            <mat-icon matPrefix>person</mat-icon>
            <mat-error *ngIf="loginForm.controls['username'].invalid && loginForm.controls['username'].touched">
              Usuario requerido
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Contraseña</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" placeholder="Contraseña" required>
            <mat-icon matPrefix>lock</mat-icon>
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
              <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
              La contraseña debe tener al menos 6 caracteres
            </mat-error>
          </mat-form-field>
        </div>

        <div class="button-container">
          <button mat-raised-button color="primary" type="submit" [disabled]="isLoading" class="full-width">
            <mat-spinner *ngIf="isLoading" diameter="20" class="login-spinner"></mat-spinner>
            <span *ngIf="!isLoading">Iniciar sesión</span>
          </button>
        </div>
      </form>
    </mat-card-content>

    <mat-card-actions>
      <div class="register-link">
        <span>¿No tienes cuenta?</span>
        <button mat-button color="primary" (click)="navigateToRegister()">
          Regístrate aquí
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
